<div class="row-fluid">
    <div class="site-box">
        <div class="row-fluid">
            <div class="alert" ng-show="passwordService.encoding == 'sjcl'">
                When using SJCL, real-time typing generation is disabled as this method uses a strengthener that iterates {{ passwordService.strengthener }} times and will be slow by design to reduce brute force attempt speed.
            </div>
        </div>
        <div class="row-fluid">
            <div class="btn-group span12">
                <button class="btn btn-large span2" ng-class="sjcl" ng-click="useHash('sjcl');">SJCL</button>
                <button class="btn btn-large span2" ng-class="md5" ng-click="useHash('md5');">MD5</button>
                <button class="btn btn-large span3" ng-class="sha1" ng-click="useHash('sha1');">SHA-1</button>
                <button class="btn btn-large span3" ng-class="sha2" ng-click="useHash('sha2');">SHA-2</button>
                <button class="btn btn-large span3" ng-class="sha3" ng-click="useHash('sha3');">SHA-3</button>
            </div>
        </div>
    </div>
</div>