<div class="row-fluid">
    <div class="site-box">
        <div class="row-fluid">
            <a href="#about" data-toggle="modal" class="btn btn-large span4">About</a>
            <a href="#security" data-toggle="modal"  class="btn btn-large span4">Security</a>
            <a href="#contact" data-toggle="modal"  class="btn btn-large span4">Contact</a>
        </div>
    </div>
</div>

<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="myModalLabel">About</h3></div>
<div class="modal-body">
<p>The password encoder is designed to help generate strong password by taking plain text passwords and running them through strong encryption.  All code is client side and nothing is stored or captured making usage anonymous.</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<div id="security" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="myModalLabel">Security</h3></div>
<div class="modal-body">
<p><a href="http://crypto.stanford.edu/sjcl/">SJCL</a> - SJCL uses the industry-standard AES algorithm at 128, 192 or 256 bits; the SHA256 hash function; the HMAC authentication code; the PBKDF2 password strengthener; and the CCM and OCB authenticated-encryption modes.</p>
<p><a href="http://code.google.com/p/crypto-js/">MD5</a> - MD5 is a widely used hash function. It's been used in a variety of security applications and is also commonly used to check the integrity of files. Though, MD5 is not collision resistant, and it isn't suitable for applications like SSL certificates or digital signatures that rely on this property.</p>
    <p><a href="http://code.google.com/p/crypto-js/">SHA-1</a> - The SHA hash functions were designed by the National Security Agency (NSA). SHA-1 is the most established of the existing SHA hash functions, and it's used in a variety of security applications and protocols. Though, SHA-1's collision resistance has been weakening as new attacks are discovered or improved. </p>
    <p><a href="http://code.google.com/p/crypto-js/">SHA-2</a> - SHA-256 is one of the four variants in the SHA-2 set. It isn't as widely used as SHA-1, though it appears to provide much better security. </p>
    <p><a href="http://code.google.com/p/crypto-js/">SHA-3</a> - SHA-3 is the winner of a five-year competition to select a new cryptographic hash algorithm where 64 competing designs were evaluated.</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="myModalLabel">Contact</h3></div>
<div class="modal-body">
<p>For issues and concerns please contact me via github user <A href="https://github.com/ctoestreich">@ctoestreich</a></p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>