<div class="row-fluid">
    <div class="site-box">
        <div class="row-fluid">
            <a href="#about" data-toggle="modal" class="btn btn-large span4">About</a>
            <a href="#security" data-toggle="modal"  class="btn btn-large span4">Security</a>
            <a href="#contact" data-toggle="modal"  class="btn btn-large span4">Contact</a>
        </div>
    </div>
</div>

<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="myModalLabel">About</h3></div>
<div class="modal-body">
<p>The password encoder is designed to help generate strong password by taking plain text passwords and running them through strong encryption.  All code is client side and nothing is stored or captured making usage anonymous.</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<div id="security" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="myModalLabel">Security</h3></div>
<div class="modal-body">
<p>It is recommended that you create a unique password for every site you visit.  </p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="myModalLabel">Contact</h3></div>
<div class="modal-body">
<p>For issues and concerns please contact me via github user <A href="https://github.com/ctoestreich">@ctoestreich</a></p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>